@mixin footer {
  footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid $primary-darkest;

    img {
      height: 20px;
    }

    p {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: $font-smallest;
      padding: 5px 0;
      font-weight: 600;
    }
    p:hover {
      color: $primary-darker;
    }
  }
}
