@import "./variables";
@import "./table";
@import "./scrollbar.scss";
@import "./footer";

@include table;
@include footer;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $primary-lightest;
}

.wrapper > {
  scale: 0.9;
}

.flex-container {
  padding: 0 $space-smallest;
}

.logo-container {
  height: auto;
  margin-top: $space-bigger;
  @include for-tablet-portrait-up {
    padding-top: $space-regular;
  }
  .logo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  p {
    color: $primary-darkest;
    font-size: $font-regular;
    @include for-phone-only {
      font-size: $font-smaller;
    }
    text-align: center;
    span {
      text-decoration: underline;
    }
  }
}

.translationParagraph {
  min-height: 32px;
  margin: $space-smallest 0;
  font-size: $font-bigger;
  color: $primary;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

input {
  display: block;
  margin: 0 auto;

  height: 52px;
  width: 100%;
  max-width: 720px;

  box-shadow: $box-shadow;

  @include for-phone-only {
    height: 48px;
  }

  font-size: $font-biggest;
  font-family: monospace;

  background-color: $white;

  border: 2px solid $primary-lighter;
  border-radius: 12px;
}

input::placeholder {
  font-size: $font-regular;
  color: $primary-lighter;
  text-align: center;
  padding-left: 5px;
  @include for-phone-only {
    font-size: $font-smaller;
  }
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: $space-regular 0;

  button {
    height: 52px;
    width: 52px;
    margin: 8px;
    box-shadow: $box-shadow;

    @include for-phone-only {
      height: 48px;
      width: 48px;
      margin: 0 6px;
    }

    font-size: $font-smallest;
    color: $white;

    background-color: $primary-darker;
    border: 2px solid $primary-lighter;
    border-radius: 12px;
  }
  .dot-btn,
  .dash-btn {
    font-size: $font-biggest;
  }
  .space-btn,
  .bacspace-btn {
    width: auto;
    padding: 10px;
    @include for-phone-only {
      height: 48px;
      width: auto;
      font-size: 14px;
    }
  }
  :hover {
    cursor: pointer;
    background-color: $primary;
    transition: all 0.3s ease-in-out;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;

  margin-bottom: $space-biggest;

  height: 500px;
  width: 100%;

  gap: $space-regular;
  padding: 0 $space-smallest;

  @include for-tablet-portrait-up {
    flex-direction: row;
  }
  @include for-big-desktop-up {
    gap: $space-biggest;
  }

  .table-box {
    max-height: 500px;
    max-width: 500px;
    width: 500px;
    flex: 1;

    padding: $space-regular;

    border-radius: 12px;
    border: 2px solid $primary-lighter;
    background-color: $white;

    @include for-phone-only {
      padding: $space-smaller;
      width: 100%;
    }
  }

  .table-container {
    max-height: 400px;

    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid $primary-lighter;
    border-radius: 12px;
    box-shadow: $box-shadow;
    @include scrollbar;
  }
  h2 {
    margin-bottom: $space-smaller;
    @include for-phone-only {
      margin-bottom: $space-smallest;
    }
  }

  .morseCodeChart-box {
    display: flex;
    flex: 1;

    max-width: 500px;

    @include for-phone-only {
      display: block;
      margin-top: $space-regular;
      max-height: 500px;
      width: 90vw;
      margin: 0 auto;
    }
  }

  .morseCodeChart {
    height: auto;
    max-height: 500px;
  }
}
