table {
  width: 100%;
}
table tr {
  background-color: #f9f7f3;
}
table tr:nth-child(even) {
  background-color: #f1ede3;
}
table td {
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  color: #2e231c;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

table {
  width: 100%;
}
table tr {
  background-color: #f9f7f3;
}
table tr:nth-child(even) {
  background-color: #f1ede3;
}
table td {
  padding: 10px;
  padding-left: 15px;
  text-align: left;
  color: #2e231c;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #2e231c;
}
footer img {
  height: 20px;
}
footer p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  padding: 5px 0;
  font-weight: 600;
}
footer p:hover {
  color: #ab8b64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f7f3;
}

.flex-container {
  padding: 0 16px;
}

.logo-container {
  height: auto;
  margin-top: 48px;
}
@media (min-width: 600px) {
  .logo-container {
    padding-top: 32px;
  }
}
.logo-container .logo {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.logo-container p {
  color: #2e231c;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 599px) {
  .logo-container p {
    font-size: 20px;
  }
}
.logo-container p span {
  text-decoration: underline;
}

.translationParagraph {
  min-height: 32px;
  margin: 16px 0;
  font-size: 28px;
  color: #baa27f;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

input {
  display: block;
  margin: 0 auto;
  height: 52px;
  width: 100%;
  max-width: 720px;
  box-shadow: 4px 4px 12px rgba(46, 35, 28, 0.1764705882);
  font-size: 32px;
  font-family: monospace;
  background-color: #fafafa;
  border: 2px solid #cebfa3;
  border-radius: 12px;
}
@media (max-width: 599px) {
  input {
    height: 48px;
  }
}

input::-moz-placeholder {
  font-size: 24px;
  color: #cebfa3;
  text-align: center;
  padding-left: 5px;
}

input::placeholder {
  font-size: 24px;
  color: #cebfa3;
  text-align: center;
  padding-left: 5px;
}
@media (max-width: 599px) {
  input::-moz-placeholder {
    font-size: 20px;
  }
  input::placeholder {
    font-size: 20px;
  }
}

.controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 32px 0;
}
.controls-container button {
  height: 52px;
  width: 52px;
  margin: 8px;
  box-shadow: 4px 4px 12px rgba(46, 35, 28, 0.1764705882);
  font-size: 18px;
  color: #fafafa;
  background-color: #ab8b64;
  border: 2px solid #cebfa3;
  border-radius: 12px;
}
@media (max-width: 599px) {
  .controls-container button {
    height: 48px;
    width: 48px;
    margin: 0 6px;
  }
}
.controls-container .dot-btn,
.controls-container .dash-btn {
  font-size: 32px;
}
.controls-container .space-btn,
.controls-container .bacspace-btn {
  width: auto;
  padding: 10px;
}
@media (max-width: 599px) {
  .controls-container .space-btn,
  .controls-container .bacspace-btn {
    height: 48px;
    width: auto;
    font-size: 14px;
  }
}
.controls-container :hover {
  cursor: pointer;
  background-color: #baa27f;
  transition: all 0.3s ease-in-out;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-bottom: 64px;
  height: 500px;
  width: 100%;
  gap: 32px;
  padding: 0 16px;
}
@media (min-width: 600px) {
  .main-container {
    flex-direction: row;
  }
}
@media (min-width: 1800px) {
  .main-container {
    gap: 64px;
  }
}
.main-container .table-box {
  max-height: 500px;
  max-width: 500px;
  width: 500px;
  flex: 1;
  padding: 32px;
  border-radius: 12px;
  border: 2px solid #cebfa3;
  background-color: #fafafa;
}
@media (max-width: 599px) {
  .main-container .table-box {
    padding: 24px;
    width: 100%;
  }
}
.main-container .table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #cebfa3;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(46, 35, 28, 0.1764705882);
}
.main-container .table-container::-webkit-scrollbar {
  width: 12px;
  background-color: #cebfa3;
  border-radius: 12px;
  cursor: pointer;
}
.main-container .table-container::-webkit-scrollbar-thumb {
  background-color: #baa27f;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.main-container .table-container::-webkit-scrollbar-thumb:hover {
  background-color: #ab8b64;
}
.main-container .table-container::-webkit-scrollbar-track {
  background-color: #f9f7f3;
  border-radius: 12px;
}
.main-container h2 {
  margin-bottom: 24px;
}
@media (max-width: 599px) {
  .main-container h2 {
    margin-bottom: 16px;
  }
}
.main-container .morseCodeChart-box {
  display: flex;
  flex: 1;
  max-width: 500px;
}
@media (max-width: 599px) {
  .main-container .morseCodeChart-box {
    display: block;
    margin-top: 32px;
    max-height: 500px;
    width: 90vw;
    margin: 0 auto;
  }
}
.main-container .morseCodeChart {
  height: auto;
  max-height: 500px;
}/*# sourceMappingURL=style.css.map */